@using BR.EzTravel.Web.Helpers

@model BR.EzTravel.Web.Models.PackageDetailsViewModel
@{
    ViewBag.Title = "Package";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";
}

<!-- INNER-BANNER -->
<div class="inner-banner style-6 ">
    <img class="center-image" src="~/img/country/europe.jpg" alt="">
    <div class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul class="banner-breadcrumb color-white clearfix">
                        <li><a class="link-blue-2" href="#">home</a> /</li>
                        <li><a class="link-blue-2" href="#">@ViewBag.Title</a> /</li>
                        <li><span>detail</span></li>
                    </ul>
                    @*<h2 class="color-white shadow">Europe tours</h2>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-wrapper">
    <div class="container">
        <div class="detail-header">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h2 class="detail-title color-dark-2">@Model.Title</h2>
                    <div class="detail-rate rate-wrap clearfix">
                        @*<div class="rate">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <span class="fa @(i <= Model.Rate ? "fa-star color-yellow" : "fa-star-o")"></span>
                            }
                        </div>*@
                        <div class="rate">
                            <div class="ui star rating" data-rating="@(Model.Rate)" data-max-rating="5"></div>
                        </div>
                        
                        <i><span id="review-count">@Model.ReviewCount</span> Reviews</i>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="detail-price color-dark-2">price from  <span class="color-dr-blue"> RM @Model.Price</span> /person</div>
                </div>
            </div>
        </div>
        <div class="row padd-90">
            <div class="col-xs-12 col-md-8">
                <div class="detail-content">
                    <div class="detail-top">
                        <img class="img-responsive" src="@Url.UploadedImageContent(Model.ThumbnailImagePath)" alt="">
                    </div>

                    <div class="detail-content-block clearfix">
                        <h3>General Information About @ViewBag.Title</h3>
                        <p>@Model.Description</p>
                        @*<img class="left-img" src="~/img/country/14.jpg" alt="">
                            <ul>
                                <li>Shopping history</li>
                                <li>Hot offers according your settings</li>
                                <li>Multi-product search</li>
                                <li>Opportunity to share with friends</li>
                                <li>Hot offers according your settings</li>
                                <li>Multi-product search</li>
                                <li>Opportunity to share with friends</li>
                                <li>Multi-product search</li>
                            </ul>*@
                        <h5>interesting for you</h5>

                        @foreach (var image in Model.Images)
                        {
                            <img class="right-img" src="@(Url.UploadedImageContent(image))" alt="">
                        }

                        <ul>
                            @foreach (var activity in Model.Activities)
                            {
                                <li>@activity</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="additional-block">
                    <h4 class="additional-title">comments <span class="color-dr-blue-2">(@Model.TotalComments)</span></h4>
                    <ul class="comments-block">

                        @foreach (var comment in Model.Comments)
                        {
                            <li class="comment-entry clearfix">
                                <img class="commnent-img" src="~/img/detail/comment_1.jpg" alt="">
                                <div class="comment-content clearfix">
                                    <div class="tour-info-line">
                                        <div class="tour-info">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">@comment.CreateDT.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="tour-info">
                                            <img src="~/img/people_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By @comment.Author</span>
                                        </div>
                                    </div>
                                    <div class="comment-text color-grey">
                                        @comment.Comment
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm())
                        {
                            @Html.HiddenFor(m => m.CommentPost.ID, new { @Value = Model.ID })

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-block type-2 clearfix">
                                        <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                            @Html.TextBoxFor(m => m.CommentPost.Name, new { placeholder = "Enter your name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-block type-2 clearfix">
                                        <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                            @Html.TextBoxFor(m => m.CommentPost.Name, new { placeholder = "Enter your email" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-block type-2 clearfix">
                                        @Html.TextAreaFor(m => m.CommentPost.Comment, new { @class = "area-style-1 type-2 color-3", placeholder = "Write a comment..." })
                                    </div>
                                    <input type="submit" class="c-button b-40 fr bg-dr-blue-2 hv-dr-blue-2-o" value="post comment">
                                </div>

                            </div>
                        }
                    }
                    
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="right-sidebar">

                    <div class="detail-block bg-red-3">
                        <h4 class="color-white">details</h4>
                        <div class="details-desc">
                            <p class="color-pink">Category:  <span class="color-white">@Model.Category</span></p>
                            <p class="color-pink">price: <span class="color-white">RM @Model.Price / person</span></p>
                            <p class="color-pink">Duration: <span class="color-white">@Model.Days Days @Model.Nights Nights</span></p>
                            <p class="color-pink">
                                date: <span class="color-white">
                                    @Model.StartDT.ToString("MMM dd") to @Model.StartDT.AddDays(Model.Days).ToString("MMM dd")
                                </span>
                            </p>
                            <p class="color-pink">
                                rate:
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <span class="fa @(i <= Model.Rate ? "fa-star color-yellow" : "fa-star-o")"></span>
                                }
                            </p>
                        </div>
                    </div>

                    <div class="popular-tours bg-grey-2">
                        <h4 class="color-dark-2">popular tours</h4>
                        @foreach (var package in Model.PopularPackages)
                        {
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="@(Url.Action("Details", "Package", new { ID = package.ID }))">
                                    @if (!string.IsNullOrEmpty(package.ThumbnailImagePath))
                                    {
                                        <img class="img-responsive radius-3"
                                             src="@Url.UploadedImageContent(package.ThumbnailImagePath)" alt="">
                                    }
                                    else
                                    {
                                        <img class="img-responsive radius-3" src="~/img/country/99.jpg" alt="">
                                    }
                                    <div class="tour-layer delay-1 radius-3"></div>
                                </a>
                                <div class="hotel-desc">
                                    <h5><span class="color-dark-2">from <strong>RM @package.Price</strong></span></h5>
                                    <h4>@package.Title</h4>
                                    <div class="hotel-loc tt">@package.Days days @package.Nights nights</div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="sidebar-text-label bg-red-3 color-white">useful information</div>

                    <div class="help-contact bg-grey-2">
                        <h4 class="color-dark-2">Need Help?</h4>
                        <p class="color-grey-2">Something on your mind? Wish to know more about <b>@(Model.Title)</b>?</p>
                        <a class="help-phone color-dark-2 link-red-3" href="#"><img src="~/img/marker_5.png" alt="" height="12%" width="12%">@Model.PackageAgency.CompanyName</a>
                        <a class="help-phone color-dark-2 link-red-3" href="tel:0200059600"><img src="~/img/detail/phone24-red.png" alt="">@Model.PackageAgency.PICContact</a>
                        <a class="help-mail color-dark-2 link-red-3" href="@Model.PackageAgency.PICEmail"><img src="~/img/detail/letter-red.png" alt="">@Model.PackageAgency.PICEmail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="may-interested padd-90">
            <div class="row">
                <div class="top-baner arrows">
                    <div class="swiper-container pad-15" data-autoplay="0" data-loop="0" data-speed="1000" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="4">
                        <div class="swiper-wrapper">
                            @foreach (var package in Model.RecommendedPackages)
                            {
                                <div class="swiper-slide">
                                    <div class="hotel-item style-7">
                                        <div class="radius-top">
                                            @if (!string.IsNullOrEmpty(package.ThumbnailImagePath))
                                            {
                                                <img src="@Url.UploadedImageContent(package.ThumbnailImagePath)" alt="">
                                            }
                                            else
                                            {
                                                <img src="~/img/country/99.jpg" alt="">
                                            }
                                        </div>
                                        <div class="title">
                                            <h5>from <strong class="color-red-3">RM @package.Price</strong> / person</h5>
                                            <h6 class="color-grey-3">@package.Days days @package.Nights nights</h6>
                                            <h4><b>@package.Title</b></h4>
                                            <br />
                                            <a href="@(Url.Action("Details", "Package", new { ID = package.ID }))" class="c-button b-40 bg-red-3 hv-red-3-o">
                                                view more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*<div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/1.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/10.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/1.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/10.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/1.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/10.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/1.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-item style-7">
                                    <div class="radius-top">
                                        <img src="~/img/country/10.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <h5>from <strong class="color-red-3">RM 1999</strong> / person</h5>
                                        <h6 class="color-grey-3">7 days</h6>
                                        <h4><b>CReal Sydney Tours</b></h4>
                                        <p>Book now and <span class="color-red-3">save 30%</span></p>
                                        <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
                                        <a href="#" class="c-button b-40 color-grey-3 hv-o fr"><img src="~/img/flag_icon_grey.png" alt="">view more</a>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <div class="pagination pagination-hidden"></div>
                    </div>
                    <div class="swiper-arrow-left offers-arrow color-4"><span class="fa fa-angle-left"></span></div>
                    <div class="swiper-arrow-right offers-arrow color-4"><span class="fa fa-angle-right"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var isOnRate = false;
        $(document).ready(function () {
            //$('.ui.rating').rating();

            $('.ui.rating')
                .rating('setting', 'onRate', function (value) {
                    $.post('@(Url.Action("Rate"))', { id: '@(Model.ID)', rate: value }, function (res) {
                        var count = $('#review-count').html();

                        $('#review-count').html(parseInt(count) + 1);
                    });
                });
        });
    </script>
}

@section fbheader
{
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:url" content="@(Request.Url.ToString())" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@Url.ContentAbsUrl(Url.UploadedImageContent(Model.ThumbnailImagePath))" />
}
