@using BR.EzTravel.Web.Helpers
@using BR.EzTravel.Web.Models
@model PackageIndexViewModel
@{
    ViewBag.Title = "Packages";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";

    var priceFrom = Util.ConvertPriceSearch(Model.Criteria.PriceFrom);
    var priceTo = Util.ConvertPriceSearch(Model.Criteria.PriceTo);
    var countryID = Model.Criteria.CountryID;
    var countryName = countryID > 0 ? Model.Countries.First(a => a.Value == countryID.ToString()).Text : "-- Please Select --";
}

<div class="inner-banner style-2">
    <img class="center-image" src="~/img/country/1.jpg" alt="">
    <div class="vertical-align">
        <div class="container">
            <h4 class="color-white">We found: <span>@Model.SearchResults.Count</span> @ViewBag.Title</h4>
            <h2 class="color-white">@ViewBag.Title Search Results</h2>
        </div>
    </div>
</div>
<div class="list-wrapper bg-grey-2">
    <div class="container">
        @*<ul class="list-breadcrumb clearfix">
                <li><a class="color-grey link-dr-blue" href="#">home</a> /</li>
                <li><a class="color-grey link-dr-blue" href="#">tours</a> /</li>
                <li><span class="color-dr-blue">list tours</span></li>
            </ul>*@
        <div class="row">

            <!-- LEFT -->
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="sidebar style-2 clearfix">
                    @*<div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">search</h4>
                            <div class="search-inputs">
                                <div class="form-block clearfix">
                                    <div class="input-style-1 b-50 color-4">
                                        <img src="~/img/loc_icon_small_grey.png" alt="">
                                        @Html.TextBoxFor(m => m.Criteria.FreeText, new { placeholder = "Where do you want to go?" })
                                    </div>
                                </div>
                                <div class="form-block clearfix">
                                    <div class="input-style-1 b-50 color-4">
                                        @Html.EditorFor(m => m.Criteria.CheckInDate, "Date2")
                                    </div>
                                </div>
                                <div class="form-block clearfix">
                                    <div class="input-style-1 b-50 color-4">
                                        @Html.EditorFor(m => m.Criteria.CheckOutDate, "Date2")
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="c-button b-40 bg-dr-blue hv-dr-blue-o" value="search">
                        </div>*@
                    <div class="sidebar-block">
                        <h4 class="sidebar-title color-dark-2">categories</h4>
                        <ul class="sidebar-category color-2">

                            <li class="@(Model.Criteria.CategoryID == 0 ? "active" : "")">
                                <a href="@(Url.Action("Index", "Package"))">
                                    all
                                    <span class="fr">(@Model.Categories.Sum(a => a.Count))</span>
                                </a>
                            </li>

                            @foreach (var category in Model.Categories)
                            {
                                <li class="@(category.ID == Model.Criteria.CategoryID ? "active" : "")">
                                    <a href="@(Url.Action("Index", "Package", new { categoryID = category.ID }))">
                                        @category.Name <span class="fr">(@category.Count)</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m.Criteria.CategoryID)
                        @Html.HiddenFor(m => m.Criteria.CountryID)
                        
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">price range</h4>
                            <div class="slider-range color-2 clearfix" data-counter="RM " data-position="start" data-from="@(priceFrom)" data-to="@(priceTo)" data-min="0" data-max="9999">
                                <div class="range"></div>
                                @Html.TextBoxFor(m => m.Criteria.PriceFrom, new { @class = "amount-start", @readonly = true })
                                @Html.TextBoxFor(m => m.Criteria.PriceTo, new { @class = "amount-end", @readonly = true })
                            </div>
                        </div>
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">star rating</h4>
                            <div class="sidebar-rating">
                                @for (int i = 5; i > 0; i--)
                                {
                                    <div class="input-entry color-3">
                                        <input class="checkbox-form"
                                               id="@Html.IdFor(m => m.Criteria.Rates)" type="checkbox"
                                               name="@Html.NameFor(m => m.Criteria.Rates)" value="@(i)"
                                               @(Model.Criteria.Rates.Contains(i) ? "checked" : "")>
                                        <label class="clearfix checkbox-selector">
                                            <span class="sp-check"><i class="fa fa-check"></i></span>
                                            <span class="rate">
                                                @for (int j = 0; j < i; j++)
                                                {
                                                    <span class="fa fa-star color-yellow"></span>
                                                }
                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">Country</h4>
                            <div class="drop-wrap drop-wrap-s-4 color-2">
                                <div class="drop">
                                    <b>@countryName</b>
                                    <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                    <span style="display: none;">
                                        @foreach (var country in Model.Countries)
                                        {
                                            <a href="#" onclick="setCountry(@country.Value)">@country.Text</a>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">Activities</h4>
                            <div class="sidebar-rating">
                                @foreach (var activity in Model.PackageActivities)
                                {
                                    <div class="input-entry color-3">
                                        <input class="checkbox-form"
                                               id="@Html.IdFor(m => m.Criteria.PackageActivityIDs)" type="checkbox"
                                               name="@Html.NameFor(m => m.Criteria.PackageActivityIDs)" value="@(activity.Value)"
                                               @(Model.Criteria.PackageActivityIDs.Contains(int.Parse(activity.Value)) ? "checked" : "")>
                                        <label class="clearfix checkbox-selector">
                                            <span class="sp-check"><i class="fa fa-check"></i></span>
                                            <span class="checkbox-text">@activity.Text</span>
                                        </label>
                                    </div>
                                }
                            </div>
                            <br />
                            <input type="submit" class="c-button b-40 bg-dr-blue hv-dr-blue-o" value="search">
                        </div>
                    }


                    <div class="sidebar-block">
                        @*<h4 class="sidebar-title color-dark-2">Review Score</h4>
                            <div class="sidebar-score">
                                <div class="input-entry type-2 color-4">
                                    <input class="checkbox-form" id="score-5" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-5">
                                        <span class="checkbox-text">
                                            5
                                            <span class="rate">
                                                <span class="fa fa-star color-yellow"></span>
                                            </span>
                                        </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-4">
                                    <input class="checkbox-form" id="score-4" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-4">
                                        <span class="checkbox-text">
                                            4
                                            <span class="rate">
                                                <span class="fa fa-star color-yellow"></span>
                                            </span>
                                        </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-4">
                                    <input class="checkbox-form" id="score-3" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-3">
                                        <span class="checkbox-text">
                                            3
                                            <span class="rate">
                                                <span class="fa fa-star color-yellow"></span>
                                            </span>
                                        </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-4">
                                    <input class="checkbox-form" id="score-2" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-2">
                                        <span class="checkbox-text">
                                            2
                                            <span class="rate">
                                                <span class="fa fa-star color-yellow"></span>
                                            </span>
                                        </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-4">
                                    <input class="checkbox-form" id="score-1" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-1">
                                        <span class="checkbox-text">
                                            1
                                            <span class="rate">
                                                <span class="fa fa-star color-yellow"></span>
                                            </span>
                                        </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>

            <!-- Search Results -->
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="list-header clearfix">
                    <div class="drop-wrap drop-wrap-s-4 color-4 list-sort">
                        <div class="drop">
                           @if (Model.Criteria.SortOrder == PackageIndexSort.Price_Asc)
                           {
                                <b>Price ASC</b>
                           }
                           else if (Model.Criteria.SortOrder == PackageIndexSort.Price_Desc)
                           {
                                <b>Price DESC</b>
                           }
                           else
                           {
                                <b>Sort by price</b>
                           }
                            <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                            <span>
                                <a href="#" onclick="sortGoto('@(PackageIndexSort.Price_Asc)')">ASC</a>
                                <a href="#" onclick="sortGoto('@(PackageIndexSort.Price_Desc)')">DESC</a>
                            </span>
                        </div>
                    </div>
                    <div class="drop-wrap drop-wrap-s-4 color-4 list-sort">
                        <div class="drop">
                            @if (Model.Criteria.SortOrder == PackageIndexSort.Ranking_Asc)
                            {
                                <b>Rank ASC</b>
                            }
                            else if (Model.Criteria.SortOrder == PackageIndexSort.Ranking_Desc)
                            {
                                <b>Rank DESC</b>
                            }
                            else
                            {
                                <b>Sort by ranking</b>
                            }
                            <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                            <span>
                                <a href="#" onclick="sortGoto('@(PackageIndexSort.Ranking_Asc)')">ASC</a>
                                <a href="#" onclick="sortGoto('@(PackageIndexSort.Ranking_Desc)')">DESC</a>
                            </span>
                        </div>
                    </div>
                    <div class="list-view-change">
                        <div class="change-grid color-2 fr"><i class="fa fa-th"></i></div>
                        <div class="change-list color-2 fr active"><i class="fa fa-bars"></i></div>
                        <div class="change-to-label fr color-grey-8">View:</div>
                    </div>
                </div>
                <div class="list-content clearfix">
                    @foreach (var item in Model.SearchResults)
                    {
                        <div class="list-item-entry">
                            <div class="hotel-item style-8 bg-white">
                                <div class="table-view">
                                    <div class="radius-top cell-view">
                                        <img src="@Url.UploadedImageContent(item.ThumbnailImagePath)" alt="">
                                        <div class="price price-s-3 red tt">hot price</div>
                                    </div>
                                    <div class="title hotel-middle clearfix cell-view">
                                        <div class="rate-wrap">
                                            <div class="rate">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    <span class="fa @(i <= item.Rate ? "fa-star color-yellow" : "fa-star-o")"></span>
                                                }
                                            </div>
                                            <i>@item.ReviewCount reviews</i>
                                        </div>
                                        <h4><b>@item.Title</b></h4>
                                        <span class="f-14 color-dark-2 grid-hidden">2 Place de la Sans Défense, Puteaux</span>
                                        <br />
                                        <p class="f-14">@item.Description</p>

                                        <a href="#" class="c-button bg-dr-blue hv-dr-blue-o b-40 fl list-hidden">select</a>
                                        <a href="#" class="c-button color-dr-blue hv-o b-40 fr list-hidden"><img src="~/img/loc_icon_small_drak.png" alt="">view on map</a>
                                    </div>
                                    <div class="title hotel-right bg-dr-blue clearfix cell-view">
                                        <div class="hotel-person color-white">from <span>RM @item.Price</span></div>
                                        <a class="c-button b-40 bg-white color-dark-2 hv-dark-2-o grid-hidden" href="@Url.Action("Details", "Package", new { id = item.ID })">view more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="c_pagination clearfix padd-120">
                    @if (Model.Criteria.PageNum > 1)
                    {
                        <a href='@(Url.Action("Index", "Package", new { sid = Model.SearchGuid, p = Model.Criteria.PageNum - 1 }))' class="c-button b-40 bg-dr-blue hv-dr-blue-o fl">prev page</a>
                    }
                    @if (Model.Criteria.PageNum < Model.Criteria.TotalPage)
                    {
                        <a href='@(Url.Action("Index", "Package", new { sid = Model.SearchGuid, p = Model.Criteria.PageNum + 1 }))' class="c-button b-40 bg-dr-blue hv-dr-blue-o fr">next page</a>
                    }

                    <ul class="cp_content color-2">

                        @for (int i = 1; i <= Model.Criteria.TotalPage; i++)
                        {
                            <li class='@(Model.Criteria.PageNum == i ? "active" : "")'>
                                <a href='@(Url.Action("Index", "Package", new { sid = Model.SearchGuid, p = i }))'>@i</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.checkbox-selector').click(function () {
                var chb = $(this).prev(); //caches selector
                chb.prop('checked', !chb.prop('checked')); //inverses checked state
            });


        });

        function sortGoto(sort) {
            window.location.href = '@(Url.Action("Index", "Package"))?sid=@(Model.SearchGuid)&sort=' + sort;
        }

        function setCountry(countryID) {
            $("#@(Html.IdFor(m => m.Criteria.CountryID))").val(countryID);
        }
    </script>
}