@model BR.EzTravel.Web.Models.Admin.MemberCreateViewModel
@{
    ViewBag.Title = "Create Member";
    ViewBag.Controller = "AdminMember";
    Layout = "~/Areas/EN/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class="row">
        <div class="col-md-12" role="main">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreate", onsubmit = "disableSubmit(this);", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                if (@Model.ErrorMessage != "")
                {
                    <label class="bold color-red">@Model.ErrorMessage</label>
                }
                <div class="bs-docs-section">
                    <h1 class="page-header">@ViewBag.Title</h1>
                    <p>
                        @*<button type="button" class="btn btn-default">Publish</button>
                            <button type="submit" class="btn btn-default">Save</button>
                            <button type="button" class="btn btn-default">Preview</button>
                            <button type="button" class="btn btn-danger">Delete</button>*@
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-save"></i>
                            Save
                        </button>
                    </p>
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Roles, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Roles, new { @class = "form-control col-md-12", placeholder = "Roles" })
                            <br /><br />
                            <b>SA</b> - System Admin<br />
                            <b>AG</b> - Agency<br />
                            <b>BG</b> - Blogger<br />
                            <b>NU</b> - Normal User
                            @Html.ValidationMessageFor(m => m.Roles)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BusinessRegNo, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.BusinessRegNo, new { @class = "form-control col-md-12", placeholder = "BusinessRegNo" })
                            @Html.ValidationMessageFor(m => m.BusinessRegNo)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CompanyName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control col-md-12", placeholder = "CompanyName" })
                            @Html.ValidationMessageFor(m => m.CompanyName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PICName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.PICName, new { @class = "form-control col-md-12", placeholder = "PICName" })
                            @Html.ValidationMessageFor(m => m.PICName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PICContact, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.PICContact, new { @class = "form-control col-md-12", placeholder = "PICContact" })
                            @Html.ValidationMessageFor(m => m.PICContact)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PICEmail, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.PICEmail, new { @class = "form-control col-md-12", placeholder = "PICEmail" })
                            @Html.ValidationMessageFor(m => m.PICEmail)
                        </div>
                        @*<div class="form-group">
            @Html.LabelFor(m => m.OfficeContact, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.OfficeContact, new { @class = "form-control col-md-12", placeholder = "OfficeContact" })
            @Html.ValidationMessageFor(m => m.OfficeContact)
        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, new { @class = "control-label" })<br />
                            @Html.TextAreaFor(m => m.Address, new { rows = "5", cols = "80" })
                            @*@Html.TextBoxFor(m => m.Address, new { @class = "form-control col-md-12", placeholder = "Address" })*@
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Postcode, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control col-md-12", placeholder = "Postcode" })
                            @Html.ValidationMessageFor(m => m.Postcode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.State, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control col-md-12", placeholder = "State" })
                            @Html.ValidationMessageFor(m => m.State)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Country, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control col-md-12", placeholder = "Country" })
                            @Html.ValidationMessageFor(m => m.Country)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
