@using BR.EzTravel.Web.Helpers

@model BR.EzTravel.Web.Models.Admin.MemberEditViewModel
@{
    ViewBag.Title = "Edit Member";
    Layout = "~/Areas/EN/Views/Shared/_AdminLayout2.cshtml";
}

<div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class="row vdivide">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreate", onsubmit = "disableSubmit(this);", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            if (@Model.ErrorMessage != "")
            {
                <label style="color:red;font-weight:bold;">@Model.ErrorMessage</label>
            }
            <div class="col-sm-3 text-center">
                <h3 class="page-header">My Profile</h3>
                @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
                {
                    <img id="img-preview" class="commnent-img img-rounded img-circle" width="150px" height="150px"
                         src="@Url.UploadedImageContent(Model.ProfileImagePath)" alt="your profile picture">
                    @*<img id="img-preview" src="@(Url.Content(Model.ProfileImagePath))" alt="your profile picture" style="max-width: 700px; max-height: 500px;" />*@
                }
                <div style="margin-top: 15px">
                    @*<br /><br />*@
                    <label for="file">Profile Image</label>
                    <input type="file" id="file" name="file" />
                </div>
                <br /><br /><br />
                <div class="form-group">
                    <label class = "control-label">Available Post:</label> 10
                </div>
                <div class="form-group">
                    <label class="control-label">Posted:</label> 4
                </div>
                <div class="form-group">
                    <label class="control-label">Remaining:</label> 6
                </div>
                <div class="form-group">
                    <label class="control-label">Reward Points:</label> 6
                </div>
            </div>
            <div class="col-sm-9 text-center">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PICEmail, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PICEmail, new { @class = "form-control col-md-12", placeholder = "PICEmail", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.PICEmail)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BusinessRegNo, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.BusinessRegNo, new { @class = "form-control col-md-12", placeholder = "BusinessRegNo" })
                        @Html.ValidationMessageFor(m => m.BusinessRegNo)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CompanyName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control col-md-12", placeholder = "CompanyName" })
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PICName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PICName, new { @class = "form-control col-md-12", placeholder = "PICName" })
                        @Html.ValidationMessageFor(m => m.PICName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PICContact, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PICContact, new { @class = "form-control col-md-12", placeholder = "PICContact" })
                        @Html.ValidationMessageFor(m => m.PICContact)
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })<br />
                        @Html.TextAreaFor(m => m.Address, new { rows = "3", cols = "50" })
                        @*@Html.TextBoxFor(m => m.Address, new { @class = "form-control col-md-12", placeholder = "Address" })*@
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Postcode, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control col-md-12", placeholder = "Postcode" })
                        @Html.ValidationMessageFor(m => m.Postcode)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.State, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control col-md-12", placeholder = "State" })
                        @Html.ValidationMessageFor(m => m.State)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Country, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control col-md-12", placeholder = "Country" })
                        @Html.ValidationMessageFor(m => m.Country)
                    </div>
                    <div class="form-group">
                        <br /><br />
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
