@using BR.EzTravel.Web.Helpers

@model BR.EzTravel.Web.Models.BlogDetailsViewModel
@{
    ViewBag.Title = "Blog Details";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";
}

<!-- INNER-BANNER -->
<div class="inner-banner style-6">
    <img class="center-image" src="~/img/country/japan1.jpg" alt="">
    <div class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul class="banner-breadcrumb color-white clearfix">
                        <li><a class="link-blue-2" href="#">home</a> /</li>
                        <li><a class="link-blue-2" href="#">blog</a> /</li>
                        <li><span>blog detail</span></li>
                    </ul>
                    <h2 class="color-white">blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-wrapper">
    <div class="container">
        <div class="row padd-90">
            <div class="col-xs-12 col-md-8">
                <div class="detail-header style-2">
                    <h2 class="detail-title color-dark-2">@Model.Title</h2>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="~/img/calendar_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">@Model.LastEditedDate.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="~/img/people_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">By @Model.CreatedBy</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="~/img/comment_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">@Model.TotalComments comments</span>
                        </div>
                    </div>
                </div>
                <div class="detail-content">
                    <div class="detail-content-block">
                        <div>
                            @Html.Raw(Model.Body)
                        </div>

                        <h5>my listing deactivated</h5>

                        <p>Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <div class="isotope-container row row10">
                            <div class="grid-sizer col-mob-12 col-xs-6 col-sm-4"></div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_1.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_2.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_3.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_4.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_5.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_6.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <p>Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <div class="tags clearfix">
                            <div class="tags-title color-dark-2">tag:</div>
                            <ul class="clearfix">
                                <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">flights</a></li>
                                <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">travelling</a></li>
                                <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">Sale</a></li>
                                <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">cruises</a></li>
                            </ul>
                        </div>
                        <div class="share clearfix">
                            <div class="share-title color-dark-2">share:</div>
                            <ul>
                                <li class="color-fb"><a href=""><i class="fa fa-facebook"></i>facebook<span class="color-fb-2">12</span></a></li>
                                <li class="color-tw"><a href=""><i class="fa fa-twitter"></i>twitter<span class="color-tw-2">27</span></a></li>
                                <li class="color-gg"><a href=""><i class="fa fa-google-plus"></i>google +<span class="color-gg-2">51</span></a></li>
                                <li class="color-pin"><a href=""><i class="fa fa-pinterest"></i>pinterest<span class="color-pin-2">70</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="additional-block padd-90">
                    <h4 class="additional-title">related posts</h4>
                    <div class="may-interested row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="s_news-entry">
                                <a href="blog_detail_2.html"><img class="s_news-img img-responsive" src="~/img/home_8/news_1.jpg" alt=""></a>
                                <h4 class="s_news-title"><a href="blog_detail_2.html">Lorem ipsum dolor</a></h4>
                                <div class="tour-info-line clearfix">
                                    <div class="tour-info fl">
                                        <img src="~/img/calendar_icon_grey.png" alt="">
                                        <span class="font-style-2 color-dark-2">03/07/2015</span>
                                    </div>
                                    <div class="tour-info fl">
                                        <img src="~/img/calendar_icon_grey.png" alt="">
                                        <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                    </div>
                                    <div class="tour-info fl">
                                        <img src="~/img/comment_icon_grey.png" alt="">
                                        <span class="font-style-2 color-dark-2">10 comments</span>
                                    </div>
                                </div>
                                <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="s_news-entry">
                                <a href="blog_detail_2.html"><img class="s_news-img img-responsive" src="~/img/home_8/news_2.jpg" alt=""></a>
                                <h4 class="s_news-title"><a href="blog_detail_2.html">Lorem ipsum dolor</a></h4>
                                <div class="tour-info-line clearfix">
                                    <div class="tour-info fl">
                                        <img src="~/img/calendar_icon_grey.png" alt="">
                                        <span class="font-style-2 color-dark-2">03/07/2015</span>
                                    </div>
                                    <div class="tour-info fl">
                                        <img src="~/img/calendar_icon_grey.png" alt="">
                                        <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                    </div>
                                    <div class="tour-info fl">
                                        <img src="~/img/comment_icon_grey.png" alt="">
                                        <span class="font-style-2 color-dark-2">10 comments</span>
                                    </div>
                                </div>
                                <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-block">
                    <h4 class="additional-title">comments <span class="color-dr-blue-2">(@Model.TotalComments)</span></h4>
                    <ul class="comments-block">

                        @foreach (var comment in Model.Comments)
                        {
                            <li class="comment-entry clearfix">
                                <img class="commnent-img" src="~/img/detail/comment_1.jpg" alt="">
                                <div class="comment-content clearfix">
                                    <div class="tour-info-line">
                                        <div class="tour-info">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">@comment.CreateDT.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="tour-info">
                                            <img src="~/img/people_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By @comment.Author</span>
                                        </div>
                                    </div>
                                    <div class="comment-text color-grey">
                                        @comment.Comment
                                    </div>
                                    <a class="comment-reply c-button b-26 bg-dr-blue-2 hv-dr-blue-2-o" href="#">Reply</a>
                                </div>
                                @*<ul class="comments-block">
                                    <li class="comment-entry clearfix">
                                        <img class="commnent-img" src="~/img/detail/comment_2.jpg" alt="">
                                        <div class="comment-content clearfix">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                            <div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
                                            <a class="comment-reply c-button b-26 bg-dr-blue-2 hv-dr-blue-2-o" href="#">Reply</a>
                                        </div>
                                    </li>
                                </ul>*@
                            </li>
                        }
                    </ul>
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-block type-2 clearfix">
                                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                        <input type="text" required="" placeholder="Enter your name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-block type-2 clearfix">
                                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                        <input type="text" required="" placeholder="Enter your email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-block type-2 clearfix">
                                    <textarea class="area-style-1 type-2 color-3" required="" placeholder="Write a comment..."></textarea>
                                </div>
                                <input type="submit" class="c-button b-40 fr bg-dr-blue-2 hv-dr-blue-2-o" value="post comment">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="right-sidebar">
                    <div class="sidebar-block type-2">
                        <div class="widget-search clearfix">
                            <form>
                                <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                    <input type="text" placeholder="Enter what you want to find">
                                </div>
                                <input class="widget-submit" type="submit" value="">
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">categories</h4>
                        <ul class="sidebar-category color-5">

                            @foreach (var category in Model.Categories)
                            {
                                <li class="@(Model.CategoryID == category.ID ? "active" : "")">
                                    <a class="cat-drop" href="#">@category.Name <span class="fr">(@category.Count)</span></a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">popular posts</h4>
                        <div class="widget-popular">
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="#">
                                    <img class="img-responsive radius-0" src="~/img/home_7/small_hotel_5.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                </a>
                                <div class="hotel-desc">
                                    <div class="tour-info-line">
                                        <div class="tour-info">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">03/07/2015</span>
                                        </div>
                                        <div class="tour-info">
                                            <img src="~/img/people_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                        </div>
                                    </div>
                                    <h4>history of mauritius</h4>
                                    <div class="tour-info-line clearfix">
                                        <div class="tour-info">
                                            <img src="~/img/comment_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">10 comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="#">
                                    <img class="img-responsive radius-0" src="~/img/home_7/small_hotel_6.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                </a>
                                <div class="hotel-desc">
                                    <div class="tour-info-line">
                                        <div class="tour-info">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">03/07/2015</span>
                                        </div>
                                        <div class="tour-info">
                                            <img src="~/img/people_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                        </div>
                                    </div>
                                    <h4>mauritius from 5 days</h4>
                                    <div class="tour-info-line clearfix">
                                        <div class="tour-info">
                                            <img src="~/img/comment_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">10 comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel-small style-2 clearfix">
                                <a class="hotel-img black-hover" href="#">
                                    <img class="img-responsive radius-0" src="~/img/home_7/small_hotel_7.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                </a>
                                <div class="hotel-desc">
                                    <div class="tour-info-line">
                                        <div class="tour-info">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">03/07/2015</span>
                                        </div>
                                        <div class="tour-info">
                                            <img src="~/img/people_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                        </div>
                                    </div>
                                    <h4>mauritius from 5 days</h4>
                                    <div class="tour-info-line clearfix">
                                        <div class="tour-info">
                                            <img src="~/img/comment_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">10 comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <div class="simple-tab tab-3 color-1 tab-wrapper">
                            <div class="tab-nav-wrapper">
                                <div class="nav-tab  clearfix">
                                    <div class="nav-tab-item active">
                                        commented
                                    </div>
                                    <div class="nav-tab-item">
                                        popular
                                    </div>
                                    <div class="nav-tab-item">
                                        new
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-content clearfix">
                                <div class="tab-info active">
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/home_9/cruise_1.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/detail/popular_1.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/detail/popular_2.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-info">
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/detail/popular_2.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/home_9/cruise_1.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/detail/popular_1.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-info">
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/detail/popular_1.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/home_9/cruise_1.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-small style-2 clearfix">
                                        <a class="hotel-img black-hover" href="#">
                                            <img class="img-responsive radius-0" src="~/img/detail/popular_2.jpg" alt="">
                                            <div class="tour-layer delay-1"></div>
                                        </a>
                                        <div class="hotel-desc">
                                            <div class="tour-info-line">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">03/07/2015</span>
                                                </div>
                                            </div>
                                            <h4>cruises reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon_grey.png" alt="">
                                                    <span class="font-style-2 color-dark-2">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <div class="widget-slider arrows">
                            <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide radius-4 active" data-val="0">
                                        <img class="center-image" src="~/img/detail/widget_s.jpg" alt="">
                                        <div class="vertical-bottom">
                                            <h4 class="color-white">best hotels reviews</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon.png" alt="">
                                                    <span class="font-style-2 color-white">03/07/2015</span>
                                                </div>
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon.png" alt="">
                                                    <span class="font-style-2 color-white">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide radius-4" data-val="1">
                                        <img class="center-image" src="~/img/home_9/f_slide.jpg" alt="">
                                        <div class="vertical-bottom">
                                            <h4 class="color-white">royal Hotel</h4>
                                            <div class="tour-info-line clearfix">
                                                <div class="tour-info">
                                                    <img src="~/img/calendar_icon.png" alt="">
                                                    <span class="font-style-2 color-white">03/07/2015</span>
                                                </div>
                                                <div class="tour-info">
                                                    <img src="~/img/people_icon.png" alt="">
                                                    <span class="font-style-2 color-white">By Emma Stone</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination pagination-hidden poin-style-1"></div>
                                <div class="arr-t-3">
                                    <div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
                                    <div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">latest comments</h4>
                        <div class="widget-comment">
                            <div class="w-comment-entry">
                                <div class="w-comment-date"><img src="~/img/calendar_icon_grey.png" alt=""> july <strong>19th 2015</strong></div>
                                <div class="w-comment-title color-grey-3"><a class="color-dark-2" href="#">BEST HOTELS REVIEWS</a> by <span class="color-dark-2">Emma Stone</span></div>
                                <div class="w-comment-text color-grey-3">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                            <div class="w-comment-entry">
                                <div class="w-comment-date"><img src="~/img/calendar_icon_grey.png" alt=""> july <strong>21th 2015</strong></div>
                                <div class="w-comment-title color-grey-3"><a class="color-dark-2" href="#">TOP BEST HOTELS AND TOURS</a> by <span class="color-dark-2">Emma Stone</span></div>
                                <div class="w-comment-text color-grey-3">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                            <div class="w-comment-entry">
                                <div class="w-comment-date"><img src="~/img/calendar_icon_grey.png" alt=""> july <strong>29th 2015</strong></div>
                                <div class="w-comment-title color-grey-3"><a class="color-dark-2" href="#">TOP BEST HOTELS AND TOURS</a> by <span class="color-dark-2">Emma Stone</span></div>
                                <div class="w-comment-text color-grey-3">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">popular tags</h4>
                        <ul class="widget-tags clearfix">
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">flights</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">travelling</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">Sale</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">cruises</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">Sale</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">travelling</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">travelling</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">Illegal</a></li>
                            <li><a class="c-button b-30 b-1 bg-grey-2 hv-dr-blue-2" href="#">flights</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">popular tags</h4>
                        <div class="widget-gallery clearfix">
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_1.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_2.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_3.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_4.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_5.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_6.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_7.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_8.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_9.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_10.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_11.jpg" alt=""></a>
                            <a href="#"><img class="img-responsive" src="~/img/detail/w_gal_12.jpg" alt=""></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
