@using BR.EzTravel.Web.Helpers

@model BR.EzTravel.Web.Models.BlogDetailsViewModel
@{
    ViewBag.Title = "Blog Details";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";
}

<!-- INNER-BANNER -->
<div class="inner-banner style-6">
    <img class="center-image" src="~/img/country/japan1.jpg" alt="">
    <div class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul class="banner-breadcrumb color-white clearfix">
                        <li><a class="link-blue-2" href="#">home</a> /</li>
                        <li><a class="link-blue-2" href="#">blog</a> /</li>
                        <li><span>blog detail</span></li>
                    </ul>
                    <h2 class="color-white">blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-wrapper">
    <div class="container">
        <div class="row padd-90">
            <div class="col-xs-12 col-md-8">
                <div class="detail-header style-2">
                    <h2 class="detail-title color-dark-2">@Model.Title</h2>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="~/img/calendar_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">@Model.LastEditedDate.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="~/img/people_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">By @Model.CreatedBy</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="~/img/comment_icon_grey.png" alt="">
                            <span class="font-style-2 color-dark-2">@Model.TotalComments comments</span>
                        </div>
                    </div>
                </div>
                <div class="detail-content">
                    <div class="detail-top">
                        <img class="img-responsive" src="@Url.UploadedImageContent(Model.ThumbnailImagePath)" alt="">
                    </div>
                    <div class="detail-content-block">
                        <div>
                            @Html.Raw(Model.Body)
                        </div>

                        <h5>my listing deactivated</h5>

                        <p>Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <div class="isotope-container row row10">
                            <div class="grid-sizer col-mob-12 col-xs-6 col-sm-4"></div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_1.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_2.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_3.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_4.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_5.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                            <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-4">
                                <a class="black-hover" href="#">
                                    <img class="img-full img-responsive" src="~/img/detail/blog_gal_6.jpg" alt="">
                                    <div class="tour-layer delay-1"></div>
                                    <div class="vertical-align">
                                        <div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
                                        <h4 class="color-white"><b>tours in monaco</b></h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <p>Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <div class="share clearfix">
                            <div class="share-title color-dark-2">share:</div>
                            <ul>
                                <li class="color-fb"><a href=""><i class="fa fa-facebook"></i>facebook<span class="color-fb-2">12</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="additional-block padd-90">
                    <h4 class="additional-title">related posts</h4>
                    <div class="may-interested row">
                        @foreach (var blog in Model.RelatedBlogs)
                        {
                            <div class="col-xs-12 col-sm-6">
                                <div class="s_news-entry">
                                    <a href="@(Url.Action("Details", "Blog", new { ID = blog.ID }))">
                                        @if (!string.IsNullOrEmpty(blog.ThumbnailImagePath))
                                        {
                                            <img class="s_news-img img-responsive" src="@Url.UploadedImageContent(blog.ThumbnailImagePath)" alt="">
                                        }
                                        else
                                        {
                                            <img class="s_news-img img-responsive" src="~/img/home_8/news_1.jpg" alt="">
                                        }
                                    </a>
                                    <h4 class="s_news-title">
                                        <a href="@(Url.Action("Details", "Blog", new { ID = blog.ID }))">
                                            @blog.Title
                                        </a>
                                    </h4>
                                    <div class="tour-info-line clearfix">
                                        <div class="tour-info fl">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">@blog.LastEditedDate</span>
                                        </div>
                                        <div class="tour-info fl">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By @blog.CreatedBy</span>
                                        </div>
                                        <div class="tour-info fl">
                                            <img src="~/img/comment_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">@blog.TotalComments comments</span>
                                        </div>
                                    </div>
                                    <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="additional-block">
                    <h4 class="additional-title">comments <span class="color-dr-blue-2">(@Model.TotalComments)</span></h4>
                    <ul class="comments-block">

                        @foreach (var comment in Model.Comments)
                        {
                            <li class="comment-entry clearfix">
                                <img class="commnent-img" src="~/img/detail/comment_1.jpg" alt="">
                                <div class="comment-content clearfix">
                                    <div class="tour-info-line">
                                        <div class="tour-info">
                                            <img src="~/img/calendar_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">@comment.CreateDT.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="tour-info">
                                            <img src="~/img/people_icon_grey.png" alt="">
                                            <span class="font-style-2 color-dark-2">By @comment.Author</span>
                                        </div>
                                    </div>
                                    <div class="comment-text color-grey">
                                        @comment.Comment
                                    </div>
                                    <a class="comment-reply c-button b-26 bg-dr-blue-2 hv-dr-blue-2-o" href="#">Reply</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-block type-2 clearfix">
                                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                        <input type="text" required="" placeholder="Enter your name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-block type-2 clearfix">
                                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                                        <input type="text" required="" placeholder="Enter your email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-block type-2 clearfix">
                                    <textarea class="area-style-1 type-2 color-3" required="" placeholder="Write a comment..."></textarea>
                                </div>
                                <input type="submit" class="c-button b-40 fr bg-dr-blue-2 hv-dr-blue-2-o" value="post comment">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="right-sidebar">
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">categories</h4>
                        <ul class="sidebar-category color-5">

                            <li class="@(Model.CategoryID == 0 ? "active" : "")">
                                <a href="@(Url.Action("Index", "Blog"))">
                                    all
                                    <span class="fr">(@Model.Categories.Sum(a => a.Count))</span>
                                </a>
                            </li>

                            @foreach (var category in Model.Categories)
                            {
                                <li class="@(Model.CategoryID == category.ID ? "active" : "")">
                                    <a class="cat-drop" href="#">@category.Name <span class="fr">(@category.Count)</span></a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">popular posts</h4>
                        <div class="widget-popular">
                            @foreach (var blog in Model.PopularBlogs)
                            {
                                <div class="hotel-small style-2 clearfix">
                                    <a class="hotel-img black-hover"
                                       href="@(Url.Action("Details", "Blog", new { ID = blog.ID }))">
                                        @if (!string.IsNullOrEmpty(blog.ThumbnailImagePath))
                                        {
                                            <img class="img-responsive radius-0" src="@Url.UploadedImageContent(blog.ThumbnailImagePath)" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-responsive radius-0" src="~/img/home_7/small_hotel_5.jpg" alt="">
                                        }
                                        <div class="tour-layer delay-1"></div>
                                    </a>
                                    <div class="hotel-desc">
                                        <div class="tour-info-line">
                                            <div class="tour-info">
                                                <img src="~/img/calendar_icon_grey.png" alt="">
                                                <span class="font-style-2 color-dark-2">@blog.CreateDT</span>
                                            </div>
                                            <div class="tour-info">
                                                <img src="~/img/people_icon_grey.png" alt="">
                                                <span class="font-style-2 color-dark-2">By @blog.Author</span>
                                            </div>
                                        </div>
                                        <h4>@blog.Title</h4>
                                        <div class="tour-info-line clearfix">
                                            <div class="tour-info">
                                                <img src="~/img/comment_icon_grey.png" alt="">
                                                <span class="font-style-2 color-dark-2">@blog.NoOfComments comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">latest comments</h4>
                        <div class="widget-comment">
                            @foreach (var blog in Model.LatestBlogComments)
                            {
                                <div class="w-comment-entry">
                                    <div class="w-comment-date">
                                        <img src="~/img/calendar_icon_grey.png" alt="">
                                        <strong>@blog.CreateDT</strong>
                                    </div>
                                    <div class="w-comment-title color-grey-3">
                                        <a class="color-dark-2" href="@(Url.Action("Details", "Blog", new { ID = blog.ID }))">
                                            @blog.Title
                                        </a> by <span class="color-dark-2">@blog.Author</span>
                                    </div>
                                    <div class="w-comment-text color-grey-3">
                                        @blog.Comment
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
