@using BR.EzTravel.Web.Helpers
@model BR.EzTravel.Web.Models.BlogIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";
}

<!-- INNER-BANNER -->
<div class="inner-banner style-6">
    <img class="center-image" src="~/img/detail/bg_5.jpg" alt="">
    <div class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    @*<ul class="banner-breadcrumb color-white clearfix">
                        <li><a class="link-blue-2" href="#">home</a> /</li>
                        <li><span>blog</span></li>
                    </ul>*@
                    <h2 class="color-white">blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOG -->
<div class="detail-wrapper">
    <div class="container">
        <div class="row padd-90">
            <div class="col-xs-12 col-md-8">
                <div class="blog-list">

                    @foreach (var item in Model.Blogs)
                    {
                        <div class="blog-list-entry">
                            @if (!string.IsNullOrEmpty(item.ThumbnailImagePath))
                            {
                                @*<img class="img-responsive radius-0" src="@Url.UploadedImageContent(item.ThumbnailImagePath)" alt="" style="width: 660px;">*@

                                <div class="background-block img-bg-bloglist img-responsive"
                                     style="background-image: url('@(Url.UploadedImageContent(item.ThumbnailImagePath))')">

                                </div>
                            }
                            <h4 class="blog-list-title"><a class="color-dark-2 link-dr-blue-2" href="#">@item.Title</a></h4>
                            <div class="tour-info-line clearfix">
                                <div class="tour-info fl">
                                    <img src="~/img/calendar_icon_grey.png" alt="">
                                    <span class="font-style-2 color-dark-2">@item.LastEditedDate.ToFormatString("dd/MM/yyyy")</span>
                                </div>
                                <div class="tour-info fl">
                                    <img src="~/img/people_icon_grey.png" alt="">
                                    <span class="font-style-2 color-dark-2">By @item.CreatedBy</span>
                                </div>
                                <div class="tour-info fl">
                                    <img src="~/img/comment_icon_grey.png" alt="">
                                    <span class="font-style-2 color-dark-2">@item.TotalComments comments</span>
                                </div>
                            </div>
                            <a href="@(Url.Action("Details", "Blog", new { ID = item.ID }))" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>read more</span></a>
                        </div>
                    }

                    <div class="c_pagination clearfix">
                        @if (Model.PageNum > 1)
                        {
                            <a href='@(Url.Action("Index", "Blog", new { p = Model.PageNum - 1, categoryID = Model.CategoryID }))' class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fl">prev page</a>
                        }
                        @if (Model.PageNum < Model.TotalPage)
                        {
                            <a href='@(Url.Action("Index", "Blog", new { p = Model.PageNum + 1, categoryID = Model.CategoryID }))' class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fr">next page</a>
                        }

                        <ul class="cp_content color-3">

                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                <li class='@(Model.PageNum == i ? "active" : "")'>
                                    <a href='@(Url.Action("Index", "Blog", new { p = i, categoryID = Model.CategoryID }))'>@i</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="right-sidebar">
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">categories</h4>
                        <ul class="sidebar-category color-5">
                            <li class="@(Model.CategoryID == 0 ? "active" : "")">
                                <a href="@(Url.Action("Index", "Blog"))">all 
                                    <span class="fr">(@Model.Categories.Sum(a => a.Count))</span>
                                </a>
                            </li>

                            @foreach (var category in Model.Categories)
                            {
                                <li class="@(category.ID == Model.CategoryID ? "active" : "")">
                                    <a href="@(Url.Action("Index", "Blog", new { categoryID = category.ID }))">
                                        @category.Name <span class="fr">(@category.Count)</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">popular blogs</h4>
                        <div class="widget-popular">
                            @foreach (var blog in Model.PopularBlogs)
                            {
                                <div class="hotel-small style-2 clearfix">
                                    <a class="hotel-img black-hover" 
                                       href="@(Url.Action("Details", "Blog", new { ID = blog.ID }))">
                                        @if (!string.IsNullOrEmpty(blog.ThumbnailImagePath))
                                        {
                                            <img class="img-responsive radius-0" src="@Url.UploadedImageContent(blog.ThumbnailImagePath)" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-responsive radius-0" src="~/img/home_7/small_hotel_5.jpg" alt="">
                                        }
                                        <div class="tour-layer delay-1"></div>
                                    </a>
                                    <div class="hotel-desc">
                                        <div class="tour-info-line">
                                            <div class="tour-info">
                                                <img src="~/img/calendar_icon_grey.png" alt="">
                                                <span class="font-style-2 color-dark-2">@blog.CreateDT</span>
                                            </div>
                                            <div class="tour-info">
                                                <img src="~/img/people_icon_grey.png" alt="">
                                                <span class="font-style-2 color-dark-2">By @blog.Author</span>
                                            </div>
                                        </div>
                                        <h4>@blog.Title</h4>
                                        <div class="tour-info-line clearfix">
                                            <div class="tour-info">
                                                <img src="~/img/comment_icon_grey.png" alt="">
                                                <span class="font-style-2 color-dark-2">@blog.NoOfComments comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="sidebar-block type-2">
                        <h4 class="sidebar-title color-dark-2">latest comments</h4>
                        <div class="widget-comment">
                            @foreach (var blog in Model.LatestBlogComments)
                            {
                                <div class="w-comment-entry">
                                    <div class="w-comment-date">
                                        <img src="~/img/calendar_icon_grey.png" alt=""> 
                                        <strong>@blog.CreateDT</strong>
                                    </div>
                                    <div class="w-comment-title color-grey-3">
                                        <a class="color-dark-2" href="@(Url.Action("Details", "Blog", new { ID = blog.ID }))">
                                        @blog.Title</a> by <span class="color-dark-2">@blog.Author</span>
                                    </div>
                                    <div class="w-comment-text color-grey-3">
                                        @if (blog.Comment.Length > 50)
                                        {
                                            @(blog.Comment.Substring(0, 50) + "....");
                                        }
                                        else
                                        {
                                            @blog.Comment
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


