@using BR.EzTravel.Web.Helpers
@using BR.EzTravel.Web.Properties

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta property="fb:app_id" content="@Settings.Default.FBAppID" />
    <meta property="og:type" content="website" />
    @RenderSection("fbheader", required: false)

    @Styles.Render("~/Content/css")

    @RenderSection("styles", required: false)

    <title>EZ Go Holiday</title>
</head>
<body data-color="theme-1">
    <div class="loading red">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_four"></div>
                <div class="object object_three"></div>
                <div class="object object_two"></div>
                <div class="object object_one"></div>
            </div>
        </div>
    </div>

    <header class="color-3 hovered menu-3">
        <div class="top-header-bar">
            <div class="container">
                <div class="left-col">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Index", "AdminProfile", new { @area = "CN" })">欢迎 @(Util.SessionAccess.PICName)</a>
                    }

                    @if (Request.IsAuthenticated &&
                    (User.IsInRole("SA") || User.IsInRole("AG") || User.IsInRole("BG")))
                    {
                        <a href="@Url.Action("Index", "AdminProfile", new { @area = "CN" })"><i class="fa fa-cog"></i>管理</a>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("ChangePassword", "Account", new { @area = "CN" })"><i class="fa fa-key"></i>更改密码</a>
                        <a href="@Url.Action("Logout", "Account", new { @area = "CN" })"><i class="fa fa-sign-out"></i>登出</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account", new { @area = "CN" })"><i class="fa fa-sign-in"></i>登录</a>
                        <a href="@Url.Action("Register", "Account", new { @area = "CN" })"><i class="fa fa-user-plus"></i>注册</a>
                    }


                    <a href="@Url.Action("Index", "ContactUs", new { @area = "CN" })"><i class="fa fa-envelope"></i>联系我们</a>

                </div>
                <div class="right-col">
                    <div class="folow">
                        <a style="width: 100px;">
                            <div class="fb-share-button"
                                 data-href="@(Html.CurrentDomainWithArea())"
                                 data-layout="button_count">
                            </div>
                        </a>
                        <a href="@Url.Action("Index", "Home", new { @area = "EN" })">EN</a>
                        <a href="@Url.Action("Index", "Home", new { @area = "CN" })">CN</a>
                    </div>
                    @*<form action="?" class="serach-item">
                            <button type="submit" class="fa fa-search"></button>
                            <input type="text" placeholder="Search...">
                        </form>*@

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav">
                        <a href="@(Url.Action("Index", "Home"))" class="logo">
                            <img src="~/img/theme-1/logo2.png" alt="ez travel">
                        </a>
                        <div class="nav-menu-icon">
                            <a href="#"><i></i></a>
                        </div>
                        <nav class="menu">
                            <ul>
                                <li class="type-1 @(Html.SetMenuActive("Home"))">
                                    <a href="@Url.Action("Index", "Home")">主页<span class="fa fa-angle-down"></span></a>

                                </li>
                                @*<li class="type-1 @(Html.SetMenuActive("Package"))">
                                    <a href="@Url.Action("Index", "Package")">Packages<span class="fa fa-angle-down"></span></a>
                                </li>
                                <li class="type-1 @(Html.SetMenuActive("Blog"))">
                                    <a href="@Url.Action("Index", "Blog")">Blogs<span class="fa fa-angle-down"></span></a>
                                </li>*@
                                

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="bg-dark type-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <img src="~/img/theme-1/logo.png" alt="" class="logo-footer">
                        <div class="f_text color-grey-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  magna aliqua. Ut aliquip ex ea commodo consequat.</div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 no-padding">
                    <div class="footer-block">
                        <h6>Travel News</h6>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="~/img/country/6.jpg" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="~/img/country/8.jpg" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="~/img/country/1.jpg" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <h6></h6>

                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="~/img/country/3.jpg" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="~/img/country/2.jpg" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="~/img/country/7.jpg" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <h6>Contact Info</h6>
                        <div class="contact-info">
                            <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Aenean vulputate porttitor</span></div>
                            <div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:93123456789">+03 5566 7788</a></div>
                            <div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a href="mailto:">eztravel@mail.com</a></div>
                            <div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a href="#">ezTravell@world.com</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-link bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <span>&copy; 2016 All rights reserved. Ez Travel</span>
                        </div>
                        <ul>
                            <li><a class="link-aqua" href="#">Privacy Policy </a></li>
                            <li><a class="link-aqua" href="#">About Us</a></li>
                            <li><a class="link-aqua" href="#">Support </a></li>
                            <li><a class="link-aqua" href="#">FAQ</a></li>
                            <li><a class="link-aqua" href="#">Blog</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/all")
    @Scripts.Render("~/bundles/eztravel")

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '@(Settings.Default.FBAppID)',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function shareFB(url) {
          FB.ui({
              method: 'share',
              href: url,
          }, function (response) { });
      }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
