@using BR.EzTravel.Web.Helpers
@model BR.EzTravel.Web.Models.ContactUsIndexViewModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Areas/EN/Views/Shared/_Layout.cshtml";
}

<!-- MAP BLOCK -->
<div class="map-block">
    <div id="map-canvas" class="style-4" data-lat="33.664467" data-lng="-117.601586" data-zoom="10" data-style="2"></div>
    <div class="addresses-block">
        <a data-lat="33.664467" data-lng="-117.601586" data-string="Santa Monica Hotel"></a>
    </div>
</div>

<div class="main-wraper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="second-title">
                    <h4 class="subtitle color-dr-blue-2 underline">contact info</h4>
                    <h2>get in touch</h2>
                </div>
            </div>
        </div>
        <div class="contact-row">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="contact-entry">
                        <img class="contact-icon" src="~/img/loc_icon_2_dark.png" alt="">
                        <div class="contact-label color-grey-3">Address:</div>
                        <div class="contact-text color-dark-2">Aenean vulputate porttitor</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="contact-entry">
                        <img class="contact-icon" src="~/img/mail_icon_l_dark.png" alt="">
                        <div class="contact-label color-grey-3">Email us:</div>
                        <a class="contact-text color-dark-2 link-dr-blue-2" href="sales@ezgoholiday.com">sales@ezgoholiday.com</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="contact-entry">
                        <img class="contact-icon" src="~/img/phone_icon_3_dark.png" alt="">
                        <div class="contact-label color-grey-3">Phone:</div>
                        <a class="contact-text color-dark-2 link-dr-blue-2" href="tel:">+603 7788 12345</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="share style-2 clearfix">
            <div class="fb-share-button"
                 data-href="@(Request.Url.ToString())"
                 data-layout="button_count">
            </div>
        </div>
                @*<div class="share style-2 clearfix">
            <ul>
                <li class="color-fb"><a href=""><i class="fa fa-facebook"></i>facebook<span class="color-fb-2">12</span></a></li>
            </ul>
        </div>*@
    </div>
</div>


<!-- CONTACT-FORM -->
<div class="main-wraper padd-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="second-title">
                    <h4 class="subtitle color-dr-blue-2 underline">contact form</h4>
                    <h2>have a question?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="second-description text-center color-grey-3">
                    Please use the contact form below if you have any question or request concerning our services.<br />
                    We will respond to your message within 24 hours.

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreate", onsubmit = "disableSubmit(this);", @class= "contact-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-style-1 type-2 color-2">
                            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter your first name" })
                            @*<input type="text" required="" placeholder="Enter your first name">*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-style-1 type-2 color-2">
                            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter your last name" })
                            @*<input type="text" required="" placeholder="Enter your last name">*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-style-1 type-2 color-2">
                            @Html.TextBoxFor(m => m.Contact, new { placeholder = "Enter your contact" })
                            @*<input type="text" required="" placeholder="Enter your contact">*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-style-1 type-2 color-2">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email" })
                            @*<input type="text" required="" placeholder="Enter your email">*@
                        </div>
                    </div>
                    <div class="col-xs-12">
                        @Html.TextAreaFor(m => m.Comments, new { @class = "area-style-1 color-1", placeholder = "Enter your comment" })
                        @*<textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>*@
                        <div class="text-center">
                            <button type="submit" class="c-button bg-dr-blue-2 hv-dr-blue-2-o"><span>submit comment</span></button>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>	
    @Scripts.Render("~/bundles/map")

}

@section fbheader
{
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@(Request.Url.ToString())" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.ContentAbsUrl("~/img/theme-1/logo2.png")" />
}